<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <button id="goToPageButton" >DELHI PREDICTION</button>
    <script>
        // JavaScript to handle button click
        document.getElementById('goToPageButton').addEventListener('click', function() {
            // Change 'anotherPage.html' to the actual page you want to navigate to
            window.location.href = 'app.html';
        });
    </script>
</body>
</html>